@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #1A1A1A;
}

.hero-section{
  position: relative;
  display: inline-block;
  background-color: #1C1C1C;
  margin-top: 8rem;
  margin-left: rem;
  display: flex;
  justify-content: center;
  width: 1,279px;
  height: 648px;
}

.hero-div{
  background-color: #1A1A1A;
  width: 658px;
  height: 408px;
  position: absolute;
}

.hero-div h3{
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  color: #FFFFFF;
  
}

.hero-div h3 span{
  color: #CAFF33;
}

.hero-div p{
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 300;
  font-style: light;
}

.img-design{
  position: absolute;
  width: 505px;
  height: 480px;
}

.img-man{
  width: 968px;
  height: 716px;
  border-radius: 16px;
}