@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
}

.green-text {
  color: #caff33;
}

.values-section {
  width: 1280px;
  height: 563px;
  gap: 60px;
  margin-top: 153px;
  margin-left: 7%;
  pointer-events: none;
}

.values-content {
  width: 1280px;
  height: 115px;
}

.values-content h3 {
  width: 1130px;
  height: 57px;
  font-weight: 500;
  font-style: medium;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}

.values-content h3 span {
  color: #caff33;
}

.values-content p {
  width: 1130px;
  height: 48px;
  font-weight: 300;
  font-size: 16px;
  font-style: light;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.values-group {
  width: 1280px;
  height: 388px;
  gap: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.values-typo {
  width: 610px;
  height: 152px;
  border-left: 1px solid #caff33;
  padding-left: 24px;
  gap: 20px;
}

.values-typo h3 {
  width: 586px;
  height: 60px;
  font-weight: 500;
  font-style: medium;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #4c4c4d;
  margin-bottom: 25px;
}

.values-typo p {
  width: 586px;
  height: 72px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.values-collab {
  width: 610px;
  height: 176px;
  border-left: 1px solid #caff33;
  padding-left: 24px;
  gap: 20px;
}

.values-collab h3 {
  width: 586px;
  height: 60px;
  font-weight: 500;
  font-style: medium;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #4c4c4d;
  margin-bottom: 25px;
}

.values-collab p {
  width: 586px;
  height: 96px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.benefit-section {
  width: 1280px;
  height: 787px;
  gap: 60px;
  margin-left: 7%;
  margin-top: 153px;
  margin-bottom: 70px;
}

.benefit-content {
  width: 1280px;
  height: 115px;
  padding-right: 250px;
  gap: 10px;
  margin-bottom: 70px;
}

.benefit-content h3 {
  width: 1030px;
  height: 57px;
  font-weight: 500;
  font-style: medium;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}

.benefit-content h3 span {
  color: #caff33;
}

.benefit-content p {
  width: 1030px;
  height: 48px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Benefit 1 */

.benefits-wrapper-1 {
  padding: 4px;
  background-color: #1c1c1c;
  position: relative;
  width: 610px;
  height: 276px;
  border-radius: 40px 14px;
  z-index: 1;
}

.asphalt-img-1 {
  position: absolute;
  mix-blend-mode: screen;
  right: 100;
  border-radius: 40px 14px;
  opacity: 20%;
}

.benefits-wrapper-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 40px 14px;
  background: #1c1c1c;
  z-index: -1;
}

.benefits-wrapper-1::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 40px 14px;
  background: linear-gradient(310deg, #caff33, #26262600, #26262600, #caff33);
  opacity: 7%;
  z-index: -2;
}

.benefits-wrapper-1 .internal-shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  border-radius: 40px 0 0 14px;
  background: linear-gradient(120deg, rgba(202, 255, 51, 0.01), transparent);
  z-index: 0;
}

/* Benefit 2 */

.benefits-wrapper-2 {
  padding: 4px;
  background-color: #1c1c1c;
  position: relative;
  width: 610px;
  height: 276px;
  border-radius: 14px 40px;
  z-index: 1;
}

.asphalt-img-2 {
  position: absolute;
  mix-blend-mode: screen;
  right: 100;
  border-radius: 14px 40px;
  opacity: 20%;
}

.benefits-wrapper-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 14px 40px;
  background: #1c1c1c;
  z-index: -1;
}

.benefits-wrapper-2::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 14px 40px;
  background: linear-gradient(
    30deg,
    #caff331a,
    #26262600,
    #26262600,
    #262626cc
  );
  z-index: -2;
}

.benefits-wrapper-2 .internal-shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  border-radius: 14px 0 0 40px;
  background: linear-gradient(120deg, rgba(202, 255, 51, 0.015), transparent);
  z-index: 0;
}

/* Benefit 3 */

.benefits-wrapper-3 {
  padding: 4px;
  background-color: #1c1c1c;
  position: relative;
  width: 610px;
  height: 276px;
  border-radius: 14px 40px;
  z-index: 1;
}

.asphalt-img-3 {
  position: absolute;
  mix-blend-mode: screen;
  right: 100;
  border-radius: 14px 40px;
  opacity: 20%;
}

.benefits-wrapper-3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 14px 40px;
  background: #1c1c1c;
  z-index: -1;
}

.benefits-wrapper-3::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 14px 40px;
  background: linear-gradient(
    220deg,
    #caff331a,
    #26262600,
    #26262600,
    #262626cc
  );
  z-index: -2;
}

.benefits-wrapper-3 .internal-shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  border-radius: 14px 0 0 40px;
  background: linear-gradient(120deg, rgba(202, 255, 51, 0.01), transparent);
  z-index: 0;
}

/* Benefit 4 */

.benefits-wrapper-4 {
  padding: 4px;
  background-color: #1c1c1c;
  position: relative;
  width: 610px;
  height: 276px;
  border-radius: 40px 14px;
  z-index: 1;
}

.asphalt-img-4 {
  position: absolute;
  mix-blend-mode: screen;
  right: 100;
  border-radius: 40px 14px;
  opacity: 20%;
}

.benefits-wrapper-4::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 40px 14px;
  background: #1c1c1c;
  z-index: -1;
}

.benefits-wrapper-4::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 40px 14px;
  background: linear-gradient(120deg, #caff33, #26262600, #26262600, #262626cc);
  opacity: 6%;
  z-index: -2;
}

.benefits-wrapper-4 .internal-shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  border-radius: 40px 0 0 14px;
  background: linear-gradient(120deg, rgba(202, 255, 51, 0.01), transparent);
  z-index: 0;
}

/* Benefits Text Style */

.benefits-header {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 14px;
}

.benefits h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.benefits p {
  margin-left: 40px;
  width: 530px;
  color: #b3b3b3;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.job-openings-section {
  margin-left: 7%;
  margin-bottom: 100px;
}

.job-openings-header h3 {
  color: #caff33;
  font-weight: 500;
  font-size: 38px;
  line-height: 150%;
  margin-bottom: 10px;
}

.job-openings-header p {
  width: 1030px;
  color: #b3b3b3;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 50px;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1rem;
}

.grid .job-wrapper:nth-child(3) {
  grid-column: 1;
}

.job-wrapper:nth-child(2) {
  margin-right: 8rem;
}

.job-wrapper:nth-child(3) {
  height: 820px;
}

.job-wrapper {
  padding: 40px;
  width: 630px;
  height: 820px;
  border: 1px solid #262626;
  border-radius: 16px;
  background-color: #1c1c1c;
}

.job-content {
  gap: 40px;
}

.job-header {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.job-header h5 {
  height: 36px;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 15px;
  display: flex;
}

.job-location {
  align-items: center;
  padding: 6px 14px;
  width: 143px;
  height: 36px;
  border: 1px solid #262626;
  border-radius: 68px;
  background-color: #1a1a1a;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  margin-left: -5px;
  margin-right: 10px;
}

.job-dept-1,
.job-dept-2,
.job-dept-3 {
  padding: 6px 14px;
  width: 242px;
  height: 36px;
  border: 1px solid #262626;
  border-radius: 68px;
  background-color: #1a1a1a;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.about-job {
  margin-bottom: 40px;
  height: 190px;
}

.about-job h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 15px;
}

.about-job p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #b3b3b3;
}

.job-reqs {
  width: 100%;
  height: auto;
}

.job-reqs h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 15px;
}

.reqs-container {
  display: inline;
}

.job {
  width: 522px;
  display: inline-flex;
  align-items: center;
  color: #b3b3b3;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  pointer-events: none;
}

.job-button {
  margin-top: 7rem;
}

.apply {
  padding: 12px 20px;
  background-color: #caff33;
  color: #1c1c1c;
  border-radius: 82px;
  font-weight: 500;
  font-size: 14px;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .values-section {
    width: calc(100% - 32px);
    height: 1034px;
    gap: 50px;
    margin-bottom: 70px;
  }

  .values-group {
    margin-left: -10px;
  }

  .values-content {
    width: calc(100% - 32px);
    height: 178px;
    margin-bottom: 80px;
  }

  .values-content h3 {
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
  }

  .values-content p {
    width: calc(100% - -4px);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
  }

  .values-group {
    width: calc(100% - 32px);
    gap: 50px;
    grid-template-columns: 1fr;
  }

  .values-typo {
    width: calc(100% - 32px);
    height: 145px;
  }

  .values-typo h3 {
    width: 338px;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 0;
  }

  .values-typo p {
    width: calc(100% - -40px);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
  }

  .values-collab {
    width: calc(100% - 32px);
    height: 165px;
  }

  .values-collab h3 {
    width: 338px;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 0;
  }

  .values-collab p {
    width: calc(100% - -40px);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
  }

  .benefit-section {
    width: calc(100% - 32px);
    height: 1362px;
    margin: 0 auto 120px auto;
  }

  .benefit-content {
    padding: 0;
    width: calc(100% - 32px);
    height: 178px;
    margin-bottom: 30px;
  }

  .benefit-content h3 {
    width: calc(100% - -32px);
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
  }

  .benefit-content p {
    width: calc(100% - -32px);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
  }

  .benefits {
    margin-left: 0;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
  }

  .benefits-wrapper-1,
  .benefits-wrapper-2,
  .benefits-wrapper-3,
  .benefits-wrapper-4 {
    width: calc(100% - 32px);
    max-width: 610px;
    height: 270px;
    border-radius: 40px 40px 14px 14px;
    margin: 0 auto;
  }

  .benefits-wrapper-1::before,
  .benefits-wrapper-2::before,
  .benefits-wrapper-3::before,
  .benefits-wrapper-4::before {
    border-radius: 40px 40px 14px 14px;
  }

  .benefits-wrapper-1::after,
  .benefits-wrapper-2::after,
  .benefits-wrapper-3::after,
  .benefits-wrapper-4::after {
    border-radius: 40px 40px 14px 14px;
  }

  .benefits-wrapper-1 .internal-shadow,
  .benefits-wrapper-2 .internal-shadow,
  .benefits-wrapper-3 .internal-shadow,
  .benefits-wrapper-4 .internal-shadow {
    border-radius: 40px 40px 14px 14px;
  }

  .benefits-header {
    margin-left: -20px;
  }

  .benefits p {
    margin-left: 30px;
    width: calc(100% - 40px);
    font-size: 14px;
    margin-top: -20px;
  }

  .job-openings-section {
    margin-bottom: 70px;
    margin-left: 15px;
  }

  .job-openings-header h3 {
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
  }

  .job-openings-header p {
    width: calc(100% - 10px);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
  }

  .jobs {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .job-wrapper {
    width: calc(100% - 25px);
    margin: 1 auto;
    padding: 24px;
    height: 850px;
  }

  .job-wrapper:nth-child(2) {
    margin: 1 auto;
  }

  .job-wrapper:nth-child(1) {
    height: 890px;
  }

  .job-wrapper:nth-child(3) {
    height: 888px;
  }

  .job-content {
    margin-left: 0;
  }

  .job-header h5 {
    font-size: 20px;
    margin-bottom: 12px;
    word-break: break-word;
  }

  .job-location {
    padding: 6px 10px;
    font-size: 14px;
    white-space: nowrap;
  }

  .job-dept-1,
  .job-dept-2,
  .job-dept-3 {
    display: inline-flex;
    padding: 6px 10px;
    height: auto;
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 8px;
  }

  .job-dept-1 {
    width: 207px;
  }

  .job-dept-2 {
    width: 231px;
  }

  .job-dept-3 {
    width: 270px;
  }

  .about-job {
    margin-bottom: 50px;
  }

  .job-wrapper:nth-child(2) .about-job {
    margin-bottom: 30px;
  }

  .job-wrapper:nth-child(3) .about-job {
    margin-bottom: 70px;
  }

  .about-job h5 {
    margin-top: 20px;
    font-size: 18px;
  }

  .about-job p {
    width: 100%;
    height: auto;
    font-size: 14px;
  }

  .job-reqs h5 {
    font-size: 18px;
  }

  .job {
    width: 100%;
    word-break: break-word;
  }

  .job-wrapper:nth-child(1) .job-button {
    margin-top: 24px;
  }

  .job-wrapper:nth-child(2) .job-button {
    margin-top: 24px;
  }

  .job-wrapper:nth-child(3) .job-button {
    margin-top: 24px;
  }
}
