@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
}

.green-text {
  color: #caff33;
}

.hero-section {
  display: flex;
  width: 1440px;
  gap: 100px;
  padding: 60px 200px 60px 70px;
  margin-top: -280px;
  margin-bottom: 150px;
  margin-left: 20px;
}

.hero-content {
  margin-left: 20px;
  margin-top: 35px;
}

.hero-imgs {
  display: flex;
}

.hero-img-1 {
  margin-right: -203px;
}

.hero-img-2 {
  margin-top: 35px;
  margin-right: -160px;
}

.hero-start-wrapper {
  padding: 8px 16px 8px 8px;
  width: 278px;
  height: 38px;
  border-radius: 82px;
  background-color: #262626;
  margin-bottom: 20px;
}

.hero-start-text {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  gap: 4px;
  font-weight: 300;
  font-size: 14px;
  pointer-events: none;
}

.hero-content h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: 38px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 20px;
  pointer-events: none;
}

.hero-content p {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 150%;
  color: #e4e4e7;
  margin-bottom: 45px;
  pointer-events: none;
}

.open-acct {
  padding: 14px 24px;
  background-color: #caff33;
  color: #1c1c1c;
  border-radius: 82px;
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
}

.product-section {
  max-width: 1596px;
  min-width: none;
  min-height: 500px;
}

.product-header {
  width: 1280px;
  height: 115px;
  display: flex;
  padding: 60px 200px 60px 70px;
  gap: 150px;
  align-items: center;
  margin-bottom: 20px;
}

.product-header-content {
  margin-left: 40px;
}

.product-header-content h2 {
  width: 831px;
  height: 57px;
  color: #ffffff;
  font-size: 38px;
  font-weight: 500;
  line-height: 150%;
}

.product-header-content p {
  width: 831px;
  height: 48px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #b3b3b3;
}

.product-header-img {
  pointer-events: all;
  cursor: pointer;
  margin-top: 35px;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  margin-left: 35px;
  gap: 40px;
}

.products h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 16px;
}

.products p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #b3b3b3;
  width: 373px;
}

.products img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-1,
.product-2,
.product-3 {
  width: 373px;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border {
  border: 1px solid #262626;
  height: 285px;
}

.cases-section {
  width: 1280px;
  height: 457px;
}

.cases-content {
  margin-left: 110px;
  margin-top: 60px;
}

.cases-header {
  width: 1280px;
  height: 91px;
  gap: 10px;
  padding-right: 250px;
  margin-bottom: 3rem;
}

.cases-header h3 {
  font-weight: 500;
  font-style: medium;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #caff33;
  width: 1030px;
  height: 57px;
}

.cases-header p {
  width: 1030px;
  height: 24px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.home {
  width: 1280px;
  height: 868px;
  gap: 40px;
  margin-left: 110px;
  margin-top: 20px;
}

.case-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.cases-icon-div {
  width: 610px;
  height: 414px;
  background-color: #1c1c1c;
  border-radius: 20px;
  padding: 40px;
  gap: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cases-icon {
  width: 260px;
  height: 174px;
  border-radius: 12px;
  border: 1px solid #262626;
  padding: 24px;
  gap: 24px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: -5px;
}

.cases-icon img {
  width: 64px;
  height: 64px;
}

.cases-icon p {
  width: 212px;
  height: 48px;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

.case-abstract {
  position: absolute;
  width: 224px;
  height: 213px;
  left: 100px;
}

.individual-section {
  width: 610px;
  height: 405px;
  gap: 50px;
  display: flex;
}

.Individual-header {
  width: 610px;
  height: 145px;
  gap: 10px;
  margin-bottom: 50px;
}

.Individual-header h3 {
  width: 610px;
  height: 39px;
  font-weight: 500;
  font-style: medium;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

.Individual-header p {
  width: 610px;
  height: 96px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  color: #b3b3b3;
}

.Individual-number {
  width: 610px;
  height: 111px;
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.Individual-percentage {
  width: 136.67px;
  height: 111px;
  gap: 5px;
}

.Individual-percentage h3 {
  width: 136.67px;
  height: 60px;
  font-weight: 500;
  font-style: medium;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #caff33;
}

.Individual-percentage p {
  width: 140px;
  height: 46px;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.Individual-line {
  width: 111px;
  border: 1px dashed #262626;
}

.individual-button {
  width: 118px;
  height: 49px;
  border-radius: 82px;
  border: 1px solid #262626;
  background-color: #1c1c1c;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.business-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 50px;
}

.business-abstract {
  position: absolute;
  right: -0.5rem;
  width: 224px;
  height: 213px;
}

.business-header {
  width: 610px;
  height: 407px;
  gap: 50px;
}

.business-content {
  gap: 10px;
}

.business-content h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 16px;
}

.business-content p {
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  font-style: light;
  font-size: 16px;
  color: #b3b3b3;
}

.business-percentage {
  display: flex;
  margin-top: 50px;
  width: 610px;
  height: 113px;
  gap: 50px;
}

.business-flow {
  width: 136.67px;
  height: 113px;
}

.business-flow h3 {
  font-weight: 500;
  font-style: medium;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #caff33;
  margin-bottom: 10px;
}

.business-flow p {
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
  width: 136.67px;
  height: 48px;
}

.business-line {
  border: 1px dashed #262626;
}

.business-learn {
  margin-top: 70px;
}

.business-learn a {
  width: 118px;
  height: 49px;
  border-radius: 82px;
  border: 1px solid #262626;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}

.business-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 610px;
  height: 414px;
  border-radius: 20px;
  padding: 40px;
  gap: 10px;
  background-color: #1c1c1c;
  position: relative;
}

.business-image {
  width: 260px;
  height: 174px;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 24px;
  gap: 14px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -5px;
  z-index: 2;
}

.business-image p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}

.features-section {
  width: 1280px;
  height: 649px;
  gap: 60px;
  margin-left: 7%;
  margin-top: 42rem;
  margin-bottom: 100px;
}

.features-header {
  width: 1280px;
  height: 115px;
  padding-right: 250px;
  gap: 10px;
}

.features-header h3 {
  width: 1030px;
  height: 57px;
  font-weight: 500;
  font-style: medium;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}

.features-header h3 span {
  color: #caff33;
}

.features-header p {
  width: 1030px;
  height: 48px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b3b3b3;
}

.features-container {
  width: 1280px;
  height: 474px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.features-wrapper {
  width: 245px;
  height: 267px;
  border-radius: 10px;
  padding: 40px;
  gap: 20px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
}

.features-button-1 {
  width: 167px;
  height: 49px;
  border-radius: 100px;
  border: 1px solid #262626;
  padding: 14px 20px 14px 20px;
  background-color: #1a1a1a;
  gap: 10px;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #caff33;
}

.features-button {
  width: 167px;
  height: 49px;
  border-radius: 100px;
  border: 1px solid #262626;
  padding: 14px 20px;
  background-color: #1a1a1a;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

.features-container-1 {
  width: 1015px;
  height: 474px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.features-wrapper-1 {
  width: 497.5px;
  height: 227px;
  border-radius: 10px;
  border: 1px solid #262626;
  padding: 40px;
  gap: 24px;
  background-color: #1c1c1c;
}

.features-span {
  width: 417.5px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.features-span h3 {
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

.features-wrapper-1 p {
  width: 417.5px;
  height: 96px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: #b3b3b3;
}

@media screen and (max-width: 767px) {
  .hero-section {
    width: calc(100% - 32px);
    height: 1076px;
    gap: 60px;
    padding: 0;
    margin-top: 10px;

    display: inline;
  }

  .hero-content {
    margin-left: 10px;
    margin-top: -230px;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
  }

  .hero-imgs {
    width: calc(100% - 120px);
    justify-content: center;
    margin-bottom: 60px;
  }

  .hero-img-1 img {
    width: calc(100% - 32px);
    height: 500px;
  }

  .hero-img-2 img {
    width: calc(100% - 32px);
    height: 201px;
  }

  .hero-start-sect {
    width: calc(100% - 32px);
    margin-left: 3.6rem;
  }

  .hero-content h1 {
    width: calc(100% - 32px);
    font-size: 28px;
    margin-left: 10px;
  }

  .hero-content p {
    width: calc(100% - 32px);
    margin-left: 10px;
    font-size: 14px;
  }

  .open-acct {
    width: calc(100% - 32px) !important;
    display: inline !important;
  }

  .product-section {
    width: 358px;
    height: 1076px;
    gap: 60px;
    margin-top: 0;
    margin-left: -5px;
  }

  .product-header {
    width: 358px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0;
    margin-bottom: 20px;
  }

  .product-header-content {
    width: 358px;
    height: 115px;
    gap: 10px;
    margin-left: 4rem;
  }

  .product-header-content h2 {
    width: 358px;
    height: 42px;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .product-header-content p {
    width: 358px;
    height: 63px;
    font-size: 14px;
  }

  .product-header-img {
    margin-top: 0;
    margin-left: 4rem;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 358px;
    height: 818px;
  }

  .products h5 {
    width: 358px;
    height: 30px;
  }

  .products p {
    width: 338px;
    height: 84px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .product-1,
  .product-2,
  .product-3 {
    width: 358px;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .border {
    width: 338px;
    height: 0;
    margin-top: 2rem;
  }

  .cases-section {
    width: 358px;
    height: 2362px;
    margin-top: 90px;
    margin-bottom: -420px;
    margin-left: -5px;
  }

  .cases-header {
    width: 358px;
    height: 115px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .cases-content {
    margin-left: 5rem;
  }

  .cases-header h3 {
    width: 358px;
    height: 42px;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .cases-header p {
    width: 358px;
    height: 63px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .home {
    width: 358px;
    height: 2187px;
    align-items: center;
    margin-left: 2.5rem;
    gap: 30px;
  }

  .case-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 6rem;
  }

  .case-abstract {
    width: 118px;
    height: 112px;
    left: 34px;
  }

  .cases-icon-div {
    width: 358px;
    height: 370px;
    padding: 20px;
    gap: 10px;
  }

  .cases-icon {
    width: 154px;
    height: 160px;
    padding: 20px 14px 20px 14px;
    gap: 14px;
  }

  .cases-icon p {
    width: 126px;
    height: 42px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .business-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .individual-section {
    width: 358px;
    height: 663px;
    gap: 50px;
  }

  .Individual-header {
    width: 358px;
    height: 145px;
    gap: 10px;
    text-align: center;
  }

  .Individual-header h3 {
    width: 358px;
    height: 30px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .Individual-header p {
    width: 358px;
    height: 105px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .Individual-number {
    width: 358px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .Individual-percentage {
    width: 258px;
    height: 83px;
    gap: 2px;
  }

  .Individual-percentage h3 {
    width: 258px;
    height: 60px;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .Individual-percentage p {
    width: 258px;
    height: 21px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .Individual-line {
    width: 258px;
  }

  .individual-button {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 7rem;
  }

  .business-icon {
    width: 358px;
    height: 370px;
    gap: 10px;
    padding: 20px;
  }

  .business-abstract {
    width: 118px;
    height: 112px;
  }

  .business-image {
    width: 154px;
    height: 160px;
    padding: 20px 14px;
    gap: 14px;
  }

  .business-image p {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .business-header {
    width: 358px;
    height: 684px;
    gap: 50px;
  }

  .business-content {
    width: 358px;
    height: 166px;
    gap: 10px;
    text-align: center;
  }

  .business-content h3 {
    width: 358px;
    height: 30px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .business-content p {
    width: 358px;
    height: 126px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .business-percentage {
    width: 358px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .business-flow {
    width: 258px;
    height: 83px;
    gap: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .business-flow h3 {
    width: 258px;
    height: 60px;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .business-flow p {
    width: 258px;
    height: 21px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .business-line {
    width: 258px;
    border: 1px dashed 10, 10 #262626;
  }

  .business-learn {
    margin-top: 10rem;
    margin-left: 7rem;
  }

  .features-section {
    width: 366px;
    height: 1182px;
    gap: 50px;
    margin-left: 25px;
  }

  .features-header {
    width: 366px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-right: 0;
  }

  .features-header h3 {
    width: 366px;
    height: 42px;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 0;
  }

  .features-header p {
    width: 366px;
    height: 84px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .features-container {
    width: 366px;
    height: 996px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .features-wrapper {
    width: 366px;
    height: 89px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .features-button-1 {
    width: 144px;
    height: 49px;
  }

  .features-button {
    width: 140px;
    height: 49px;
  }

  .features-container-1 {
    width: 366px;
    height: 887px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .features-wrapper-1 {
    width: 366px;
    height: 212px;
    padding: 30px;
    gap: 20px;
  }

  .features-span {
    width: 306px;
    height: 27px;
  }

  .features-wrapper-1 p {
    width: 306px;
    height: 105px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0-6%;
  }
}
