@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
}

.green-text {
  color: #caff33;
}

.hero-section {
  display: flex;
  width: 1440px;
  height: 621px;
  gap: 100px;
  padding: 60px 200px 60px 70px;
  margin-top: -280px;
  margin-bottom: 200px;
}

.hero-content {
  margin-left: 40px;
  margin-top: 35px;
}

.hero-imgs {
  display: flex;
}

.hero-img-1 {
  margin-right: -203px;
}

.hero-img-2 {
  margin-top: 35px;
  margin-right: -160px;
}

.hero-start-wrapper {
  padding: 8px 16px 8px 8px;
  width: 278px;
  height: 38px;
  border-radius: 82px;
  background-color: #262626;
  margin-bottom: 20px;
}

.hero-start-text {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  gap: 4px;
  font-weight: 300;
  font-size: 14px;
  pointer-events: none;
}

.hero-content h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: 38px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 20px;
  pointer-events: none;
}

.hero-content p {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 150%;
  color: #e4e4e7;
  margin-bottom: 45px;
  pointer-events: none;
}

.open-acct {
  padding: 14px 24px;
  background-color: #caff33;
  color: #1c1c1c;
  border-radius: 82px;
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
}

.product-section {
  width: 100%;
  min-height: 500px;
}

.product-header {
  width: 1280px;
  height: 115px;
  display: flex;
  padding: 60px 200px 60px 70px;
  gap: 150px;
  align-items: center;
  margin-bottom: 20px;
}

.product-header-content {
  margin-left: 40px;
}

.product-header-content h2 {
  width: 831px;
  height: 57px;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 500;
  line-height: 150%;
}

.product-header-content p {
  width: 831px;
  height: 48px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #B3B3B3;
}

.product-header-img {
  pointer-events: all;
  cursor: pointer;
  margin-top: 35px;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  margin-left: 35px;
  gap: 40px;
}

.products h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.products p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #B3B3B3;
  width: 373px;
}

.products img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-1, .product-2, .product-3 {
  width: 373px;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border {
  border: 1px solid #262626;
  height: 285px;
}

/* End Of South's First Sections, Start Of Miracle's First Sections */



.cases-section{
  width: 1,280px;
  height: 457px;
}

.cases-content{
  margin-left: 110px;
  margin-top: 60px;
}

.cases-header{
  width: 1,280px;
  height: 91px;
  gap: 10px;
  padding-right: 250px;
  margin-bottom: 3rem;
}

.cases-header h3{
  font-weight: 500;
  font-style: medium;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  color:#CAFF33 ;
  width: 1030px;
  height: 57px;
}

.cases-header p{
  width: 1030px;
  height: 24px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #B3B3B3;
 
}

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1280px;
  height: 868px;
  gap: 40px;
  margin-left: 110px;
  margin-top: 20px;
}

.cases-icon-div{
  width: 610px;
  height: 414px;
  background-color: #1C1C1C;
  border-radius: 20px;
  padding: 40px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cases-icon{
  width: 260px;
  height: 174px;
  border-radius: 12px;
  border: 1px;
  padding: 24px;
  gap: 24px;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.cases-icon img{
  width: 64px;
  height: 64px;
}

.cases-icon p{
  width: 212px;
  height: 48px;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.case-abstract{
  position: absolute;
  width: 224px;
  height: 213px;
  left: 50px;
}

.individual-section{
  width: 610px;
  height: 405px;
  gap: 50px;
}

.Individual-header{
  width: 610px;
  height: 145px;
  gap: 10px;
  margin-bottom: 50px;
}

.Individual-header h3{
  width: 610px;
  height: 39px;
  font-weight: 500;
  font-style: medium;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.Individual-header p{
  width: 610px;
  height: 96px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  color: #B3B3B3;
}

.Individual-number{
  width: 610px;
  height: 111px;
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.Individual-pecentage{
  width: 136.67px;
  height: 111px;
  gap: 5px;
}

.Individual-percentage h3{
  width: 136.67px;
  height: 60px;
  font-weight: 500;
  font-style: medium;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #CAFF33;
}

.Individual-percentage p{
  width: 140px;
  height: 46px;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #B3B3B3;
}

.Individual-line{
  width: 111px;
  border: 1px dashed #262626;
}

.individual-button{
  width: 118px;
  height: 49px;
  border-radius: 82px;
  border: 1px solid #262626;
  background-color: #1C1C1C;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.business-header{
  width: 610px;
  height: 407px;
  gap: 50px;
}

.business-content{
  gap: 10px;
}

.business-content h3{
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.business-content p{
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  font-style: light;
  font-size: 16px;
  color: #B3B3B3;
}

.business-percentage{
  display: flex;
  margin-top: 50px;
  width: 610px;
  height: 113px;
  gap: 50px;
}

.business-flow{
  width: 136.67px;
  height: 113px;
}

.business-flow h3{
  font-weight: 500;
  font-style: medium;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #CAFF33;
  margin-bottom: 10px;
}

.business-flow p{
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #B3B3B3;
  width: 136.67px;
  height: 48px;
}

.business-line{
  border: 1px dashed #262626;
}

.business-learn{
  margin-top: 70px;
}

.business-learn a{
  width: 118px;
  height: 49px;
  border-radius: 82px;
  border: 1px solid #262626;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  cursor: pointer;
}

.business-icon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 610px;
  height: 414px;
  border-radius: 20px;
  padding: 40px;
  gap: 10px;
  background-color: #1C1C1C;
}

.business-image{
  width: 260px;
  height: 174px;
  border-radius: 12px;
  padding: 24px;
  gap: 14px;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.business-image p{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  text-align: center;
}

.features-section{
  width: 1280px;
  height: 649px;
  gap: 60px;
  margin-left: 7%;
  margin-top: 42rem;
  margin-bottom: 100px;
}

.features-header{
  width: 1280px;
  height: 115px;
  padding-right: 250px;
  gap: 10px;
}

.features-header h3{
  width: 1030px;
  height: 57px;
  font-weight: 500;
  font-style: medium;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.features-header h3 span{
  color: #CAFF33;
}

.features-header p{
  width: 1030px;
  height: 48px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #B3B3B3;
}

.features-container{
  width: 1280px;
  height: 474px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.features-wrapper{
  width: 245px;
  height: 267px;
  border-radius: 10px;
  padding: 40px;
  gap: 20px;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
}

.features-button-1{
  width: 167px;
  height: 49px;
  border-radius: 100px;
  border: 1px solid #262626;
  padding: 14px 20px 14px 20px;
  background-color: #1A1A1A;
  gap: 10px;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #CAFF33;
}

.features-button{
  width: 167px;
  height: 49px;
  border-radius: 100px;
  border: 1px solid #262626;
  padding: 14px 20px;
  background-color: #1A1A1A;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.features-container-1{
  width: 1015px;
  height: 474px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.features-wrapper-1{
  width: 497.5px;
  height: 227px;
  border-radius: 10px;
  border: 1px solid #262626;
  padding: 40px;
  gap: 24px;
  background-color: #1C1C1C;
}

.features-span{
  width: 417.5px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.features-span h3{
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.features-wrapper-1 p{
  width: 417.5px;
  height: 96px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: #B3B3B3;
}

@media (max-width: 1024px) {
  body{
    width: 1024px;
  }
  
  .hero-section {
  width: 1024px;
  height: 621px;
}

.hero-content {
  margin-left: 0px;
  margin-top: 35px;
}

.product-section {
  width: 1024px;
  min-height: 500px;
}


}